body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background:#23252C;
}

.main-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 317px;
  background: #1A1B21;
  border-radius: 6px 6px 0 0 ;
}

.profile-photo {
  width: 100%;
  object-fit: cover;
}

.title-container {
  text-align: center;
  
}

.title-container > h1 {
  color: #FFFFFF;
  font-size: 1.56rem;
  font-weight: 700;
  margin-bottom: 0;
}

.title-container > p:first-of-type {
  color: #F3BF99;
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0.25em 0;
}

.title-container > p:last-of-type {
  color: #FFFFFF;
  font-size: 0.64rem;
  font-weight: 400;
  margin-top: 0.25em;
}

.button-container {
  margin: 16px 0 20px 0;
  display: flex;
  gap: 16px;
  justify-content: center;
}

.button-container > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 115px;
  padding: 8px 0;
  border: none;
  border-radius: 6px;
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;
}

.button-container > a:first-of-type {
  background: #FFFFFF;
  color: #374151;
}

.button-container > a:last-of-type {
  background: #5093E2;
  color: #FFFFFF;
}

.about-container, .interests-container {
  max-width: 247px;
}

.about-container > h2, .interests-container > h2 {
  color: #F5F5F5;
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 0;
}

.interests-container {
  margin-bottom: 30px;
}

.about-container > p, .interests-container > p {
  color: #DCDCDC;
  font-size: 0.64rem;
  font-weight: 400;
  text-align: left;
  margin-top: 5px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 317px;
  margin: 0 auto;
  height: 64px;
  background: #161619;
  font-size: 25px;
  color: #918E9B;
  border-radius: 0 0 6px 6px;
}

.footer > a {
  text-decoration: none;
  color: #918E9B;
}



